{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'styles/city.css' %}" type="text/css" />
    <style>
        .container img {
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="{% static '/images/buenos-aires-nature.jpg' %}" style="width: 100%; height: auto;" />

        <div class="text-block">
            <h1 style="font-size: 2em; color: orange">English Proficiency & Transportation</h1>

            <br><u><b>English Proficiency</b></u>
            <li>Basic English proficiency can be found at hotels and is more
                <br> &nbsp;&emsp; common among young people in Buenos Aires.
            </li>
            <br>
            <li>It is less common for those who work in public
                transportation <br> &nbsp;&emsp; to speak English.
            </li>
            <br>
            <li>It is worth noting that only 15% of Argentines can conduct a
                <br> &nbsp;&emsp; basic conversation in English.
                Although Argentina has its own <br> &nbsp;&emsp; Spanish dialect,
                the following are some useful Spanish phrases <br> &nbsp;&emsp;
                that will make it easier to communicate:
                <br> &nbsp;&emsp;
                <a href="https://spanishlandschool.com/spanish-phrases-for-travelers/" target="_blank">Basic Spanish
                    Vocabulary for Travelers</a>
            </li>
            <br>
            <li>In spite of the survival of several indigenous languages, Spanish
                <br> &nbsp;&emsp; is the predominant language in Argentina.
            </li>

            <br><u><b>Transportation</b></u>
            <br>
            <li>Using the underground metro or the "subte" as the locals refer
                <br> &nbsp;&emsp; to it, is the most convenient way of exploring the city.
            </li>
            <br>
            <li>The subte operates on all weekdays, but stops running at 11 p.m.</li>
            <br>
            <li>Subte ticket cost: $0.25</li>
            <br>
            <li>To avoid getting scammed, only buy metro tickets at the subte
                <br> &nbsp;&emsp; stations.
            </li>
            <br>
            <li>Buses run twenty-four-seven throughout Buenos Aires.</li>
            <br>
            <li>Bus fare cost: $0.25 (Exact change must be brought.)</li>
        </div>
    </div>
</body>

</html>

<!--36-->