{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/history-timeline.css' %}" type="text/css"/>
</head>
<body>
    <div class="timeline">

        <div class="container left">
            <div class="content">
                <h2>First European To Reach The Area of Buenos Aires <i>1516</i></h2>
                <p>Sixteenth century navigator and explorer Juan Díaz de Solís was the first
                    European to reach the Río de la Plata which is the estuary that connects 
                    Buenos Aires to the Atlantic ocean. He was representing the Kingdom of Spain
                    at the time. On February 2nd, 1536 a Spanish expediton led by Pedro de Mendoz
                    named the settlement as "Ciudad de Nuestra Señora Santa María del Buen Ayre"
                    meaning "City of Our Lady Saint Mary of the Fair Winds".</p>
            </div>
        </div>
        <div class="img-right1">
            <img src="{% static '/images/río-de-la-plata.jpg' %}" 
                style="width: 432px; height: 270px;">
            <figcaption><b>The landing of Juan Díaz de Solís on the coast of the <br> Banda
                Oriental (Uruguay presently), being stalked by <br> Charrúas natives who
                would eventually attack his crew <br> of sailors.</b>
            </figcaption>
        </div>

        <br><br><br>    
        <div class="container right">
            <div class="content">
                <h2>An Economy Found On Trade <i>17th Century</i></h2>
                <p>Since its founding, Buenos Aires depended on trade imports from the Kingdom of
                    Spain. Due to the high risk of sea pirates seizing goods from Spanish ships,
                    the Spanish government directed all imports to a city in Peru called Lima 
                    which was over 2000 miles away from Buenos Aires. As a result goods took a
                    lengthy amount of time to arrive in Buenos Aires.</p>
            </div>
        </div>

        <br><br><br>
        <div class="img-left1">
            <img src="{% static '/images/buenos-aires-port.jpg' %}" 
                style="width: 448.4px; height: 285px;">
            <figcaption>
                <b>Deroy. Buenos - Ayres. View taken from the Plaza de la <br>
                   Aduana. Paris. L. Turgis Jne. 1861.</b>
            </figcaption>
        </div>

        <div class="container left">
            <div class="content">
                <h2>Buenos Aires Becomes An Open Port City <i>Late 1700s</i></h2>
                <p>A relatively inefficient system of trade imports led to a developing
                    contraband industry between Argentines and the Portuguese. Acknowledging
                    the unintended consequences of his government's trade policy, Charles III 
                    of Spain officially made Buenos Aires an open port by the end of the 
                    eighteenth century which removed many of the previous restrictions on 
                    commerce.</p>
            </div>
        </div>
        <div class="img-right2">
            <img src="{% static '/images/buenos-aires-market.jpg' %}" 
                style="width: 447.3px; height: 315px;">
            <figcaption align="center"><b>Buenos Aires marketplace, 1810s</b></figcaption>
        </div>

        <br><br><br><br>
        <div class="container right">
            <div class="content">
                <h2>May Revolution <i>May 18-25th, 1810</i></h2>
                <p>Following the worsening military conflict in Spain, the May Revolution
                    sprung up in Buenos Aires, being the capital of the Viceroyalty of
                    the Río de la Plata during that time. This marked the start of the Argentine 
                    War of Independence and acclerated Argentina towards reaching the point of 
                    independence on July 9, 1816. Buenos Aires experienced all of the Spanish 
                    American Wars of independence without being recaptured once by any armies 
                    loyal to the Spanish monarch.</p>
            </div>
        </div>
        <div class="img-left2">
            <img src="{% static '/images/buenos-aires-may-revolution.jpg' %}" 
                style="width: 450px; height: 337.5px;">
            <figcaption>
                <b>The open cabildo on May 22, 1810, by Pedro Subercaseaux, 
                <br> depiction of the May 22 open cabildo. "Cabildo" means
                <br> a "town hall" or "local government council" in Spanish.</b></figcaption>
        </div>

        <br><br><br><br><br>
        <div class="container left">
            <div class="content">
                <h2>A Restoration of Democratic Elections <i>December 10th, 1983</i></h2>
                <p>In 1976, a coup d'état orchestrated by General Jorge Rafael Videla overthrew 
                    president Isabel Perón. It is estimated that between 1974 and 1983, up to as
                    many as 30,000 political dissidents were either killed or disappeared at the 
                    hands of state terrorism. Economic turmoil, broad dissatisfaction, and a 
                    mismanagement of the Falklands territorial conflict, led to the end of the
                    military junta or "military commitee" ruling Argentina. With the 1983 general
                    election, a reemergence of democractic institutions eventually persisted 
                    alongside economic growth.</p>
            </div>
        </div>
        <div class="img-right3">
            <img src="{% static '/images/buenos-aires-1983.jpg' %}" 
                style="width: 532px; height: 300px;">
            <figcaption>
                <b>Plaza de Mayo filled with Argentines on 10 December, 1983 in Buenos
                <br> Aires during the inauguration of President Raul Alfonsin.</b>
            </figcaption>
            <br><br>
        </div>
    </div>
</body>
</html>

<!--106-->
