{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city.css' %}" type="text/css"/>
<style>
.container img {
    display: block;
}
</style>
</head>
<body>
    <div class="container">
        <img src="{% static '/images/buenos-aires-panorama.jpg' %}" 
            style="width: 100%; height: 1015.7518518511px;"/>

        <div class="text-block">
            <h1 style="font-size: 2em; color: lightblue">Buenos Aires</h1>
            
            <br>
            <u><b>Customs</b></u>
            <br>
            <li>Have enough cash on hand as many businesses do not accept cards for payment.</li>
            <br>
            <li>When using public transportation, if you are sitting down and all other seats
                are <br> &nbsp;&emsp; occupied, you are expected to vacate your seat for 
                pregnant women, children, and <br> &nbsp;&emsp; the elderly.</li>
            <br>
            <li>It is not uncommon for Argentines to kiss strangers when they have just met.
                If you <br> &nbsp;&emsp; are kissed, you are expected to return one, 
                otherwise it is seen as impolite.</li>
            <br>
            <li>Like many South Americans, Argentines drink a caffeine-rich infused drink
                known <br> &nbsp;&emsp; as "maté". Argentines will consume their national 
                beverage, maté, by sharing it in a <br> &nbsp;&emsp; single cup.</li>
            
            <br><u><b>Faux Pas</b></u>
            <br>
            <li>Avoid talking about the Falkland islands or as Argentines refer to the them:
                "Islas Malvinas". <br> &nbsp;&emsp; Argentina has a recurring sovereignty 
                dispute with the United Kingdom regarding these <br> &nbsp;&emsp; islands which 
                resulted in a two-month war between the two countries in 1982.</li>
            <br>
            <li>Asking questions is fine, but do not speak negatively of the former president <br>
                &nbsp;&emsp; Juan Perón as he is adored throughout Argentina.</li>
            <br>
            <li>It is better not to bring up the topic of Nazis fleeing to Argentina
                after WW2. Or conspiracy <br> &nbsp;&emsp; theories regarding this.</li>
            <br>
            <li>Fernet is a highly popular liquor drink in Argentina, so
                even if you don't like it, be sure not <br> &nbsp;&emsp; to excessively 
                complain about it.</li>
            
            <br>
            <u><b>Safety</b></u>
            <br>
            <li>Buenos Aires is among the safer cities in South America.</li>
            <br>
            <li>The largest concern is pickpocketing and bag-snatching which
                is why caution and alertness <br> &nbsp;&emsp; is advised when in 
                crowded public transportation and ferias (street markets).</li>
            <br>
            <li>It is not recommended to use your phone while you are
                outside in Buenos Aires, but to <br> &nbsp;&emsp; instead access 
                it while you are inside a cafe, shop, or restaurant.</li>
            <br>
            <li>It is advised not to expose yourself by wearing expensive
                jewelry and if not needed, leave <br> &nbsp;&emsp; your passport
                and high amounts of cash in your hotel room.</li>
            <br>
            <li>Firmly refuse help from random individuals if they approach
                you, point out a stain of any <br> &nbsp;&emsp; type on your clothing, 
                and then offer to clean it off.</li>
            <br>
            <li>Do not allow a random person or driver on the street to
                assist you with checking or <br> &nbsp;&emsp; exchanging the cash 
                you have on hand.</li>
        </div>
    </div>
</body>
</html>

<!--56-->