{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
		href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
	<div class="site-text1">
		<h1>Camanito</h1>

		<img src="{% static '/images/caminito.jpg' %}" 
			style="width: 633.65px; height: 356.5px;">

		<p>  Caminito is a colourful street museum in Buenos Aires. Despite
		<br> having the name "caminito" which can mean "little walkway" in
		<br> Spanish, this location was originally a stream. Eventually the
		<br> water stream dried up, and the path became a rail line. In 1954,
		<br> the rail line was removed and the path turned into a landfill, but
		<br> by 1959 an artist by the name of Benito Quinquela Martin began
		<br> rebuilding the walkway with the intention of honouring the place
		<br> where residents in Buenos Aires had used as a port for immigration.
		</p>
	</div>

	<div class="site-text2">
		<p>  Benito Quinquela Martin had created the street name "Caminito"
		<br> with the goal of representing the old immigrant barrio called.
		<br> La Boca which is where the street Caminito is located within.
		<br> Despite being a tourist area, La Boca remains a working-class
		<br> neighborhood exhibiting a strong Italian flavour as many of its
		<br> first residents had migrated from the northern Italian city of
		<br> Genoa. Street performers, dancers, and musicians, who express
		<br> the dance of Tango are a regular occurence. The name "Caminito"
		<br> has roots to a Tango in 1926 practiced by La Boca musician Juan
		<br> de Dios Filiberto. Surrounding the street museum are restaurants
		<br> that serve Italian pizza, and shops that sell handmade crochet
		<br> scarves and shawls.
		</p>

		<img src="{% static '/images/la-boca.jpg' %}" 
			style="width: 633.65px; height: 356.5px;">
	</div>
</body>
</html>

<!-- 40 -->