{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
    <div class="site-text3">
        <h1>Church of the Saviour On Blood</h1>
        <p>  The Church of the Saviour on Blood is a Russian Orthodox church
        <br> built upon the same grounds where Emporer Alexander II was murdered
        <br> on March 13th, 1881 by his political opposition. Being his successor
        <br> and son, Alexander III ordered the construction of the church on the
        <br> same site as a way to pay tribute for the legacy of his father. In
        <br> contrast, to other structures in Saint Petersburg, Alexander III
        <br> stressed the need to give this church a traditional Russian style
        <br> because he believed the city of Saint Petersburg had become too
        <br> influenced by Western culture, ideas, and liberal reforms, attributing
        <br> these to Russia's weaking domineering role in Eastern Europe. The
        <br> formation of the Church of the Saviour on Blood can be compared with
        <br> Saint Basil's Cathedral in Moscow or the Vladimir Cathedral in Kiev as
        <br> they share similarities.</p>
        <img src="{% static '/images/church-of-the-saviour-on-blood.jpg' %}" 
            style="width: 640.8px; height: 964.8px;">
    </div>

    <div class="site-text4">
        <img src="{% static '/images/church-of-the-saviour-on-blood-interior.jpg' %}" 
            style="width: 603px; height: 402px;">
        <p>  Construction of the church would begin in 1883 and finally be
        <br> completed in 1907. In its early days (pre-Revolution Russia),
        <br> the church was not  used as a public place of worship, but to
        <br> host memorial services honouring the memory of Tsar Alexander
        <br> II. Baptisms, weddings, and funerals were not organised in the
        <br> church out of respect for Tsar Alexander the Third's idea of
        <br> what this particular structure was intended for. Succeeding the
        <br> Russian Revolution the church became an official cathedral.
        <br> Notwithstanding its promoted status, it was pillaged in 1923
        <br> causing great desecration to its interior. After the Soviet
        <br> government closed the cathedral in 1932, some believed that the
        <br> cathedral would be fully torn down. The 900-day siege of Saint
        <br> Petersburg (then known as Leningrad) by German forces from 1941
        <br> to 1944 resulted in the cathedral serving as a morgue for many of
        <br> the city's deceased soldiers, and civilians who died of starvation
        <br> or sickness. World war two caused substantial destruction to the
        <br> church.
        <br>
        <br> In the 1950s, the Saviour was saved when strong public backlash
        <br> occured following another attempt by the government to remove 
        <br> the structure. Still being severely ruined from the war, the
        <br> building was used as a warehouse for vegetables, and later on
        <br> for an opera theatre. In July of 1970, management of the church
        <br> had been given to Saint Isaac's Cathedral, also located in Saint
        <br> Petersburg. Profits generated by Saint Isaac's Cathedral would
        <br> then be used to make eighty percent of the restorations for the
        <br> church. From that point on, the church would remain closed.
        <br> Twenty-seven years later, with 4.6 million rubles spent, the
        <br> church reopened as a museum in August of 1997. It contains 7,500
        <br> square meters of religious mosaics, housing one of the largest 
        <br> collections in the entire world.</p>
    </div>
</body>
</html>

<!--62-->