{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
    <div class="site-text1">
        <h1>Palace Square (Dvortsovaya Ploshchad)</h1>

        <img src="{% static '/images/palace-square-saint-petersburg.jpg' %}" 
            style="width: 619.5px; height: 420px;">
        <p>  Similar to the Red Square in Moscow, the Palace Square has been
        <br> a location which has witnessed events throughout history that
        <br> have had a profound effect on Russian society. Today, military
        <br> parades, sporting events, and concerts are held in the square.
        <br> Individuals dressed up as characters from the Tsarist era can be
        <br> seen standing next to vintage horse carriages offering tourists a
        <br> a ride. Surrounding the square lies the Winter Palace facing the
        <br> General Staff Building, a museum on the opposite side. In the 
        <br> center stands the soaring Alexander Column to commemorate Russia's
        <br> victory against the strategic invasion of French Emperor Napoleon 
        <br> Bonaparte in 1812.</p>
    </div>

    <div class="site-text2">
        <p>  In spite of the magesticity of the site, the square has beared
        <br> the brunt of dark days in Russian history. This is where an
        <br> unsuccessful assassination attempt against Tsar Alexander II
        <br> took place on April 2nd, 1879. Twenty-six years later, royal
        <br> guards would open fire on weaponless demonstrators killing over
        <br> a hundred civilians and paving the path for the first Russian
        <br> Revolution of 1905.
        <br> 
        <br> On October 25th, 1917, Bolshevik paramilitary forces gathered in
        <br> the square and successfully went on to sack the Winter Palace
        <br> bringing an end to hundreds of years of Tsarist rule in Russia.
        <br> 
        <br> One of the organizers of the sacking was Moisei Uritsky who would
        <br> eventually be assassinated on August 30th, 1918 near the entrace
        <br> to the General Staff Building. Thus, from 1918 to 1944 the Palace
        <br> Square was was referred to as "Uritsky Square" as a sign of respect
        <br> to the organizer.</p>

        <img src="{% static '/images/palace-square2-saint-petersburg.webp' %}" 
            style="width: 607.6px; height: 434px;">
    </div>
</body>
</html>

<!--48-->