{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
		href="{% static 'styles/city-details.css' %}"
		type="text/css"/>
</head>
<body>
	<div class="site-text1">
		<h1>Grand Bazaar</h1>

		<p>
			Like many significant events in Ottoman history,
			the establishment <br> of the Grand Bazaar
			followed the successful conquest of <br> Constantinople.
			It was in the winter of 1455 or 56 when Mehmet II <br>
			instructed the construction of two stone buildings, so
			that traders <br> could undertake the process of
			exchanging valuable goods for capital <br> that would
			be invested in what was already the Hagia Sophia Mosque.
			<br> It wasn't long before the two stone buildings saw
			their status rise <br> to the center of commerce in the
			city of İstanbul. Over the next <br> hundred years, the
			market's territory exponentially expanded, reaching
			<br> its current size by the latter sixteenth century.
			<br><br> Designed with durable architecture able to
			withstand natural disasters, <br> the Grand Bazaar has
			witnessed the difference in social norms that <br>
			humans gradually change as time persists. While watching
			shop owners <br> lay out rugs pieced together with the
			finest material one can find, <br> it may be hard to
			visualise that hundreds of years ago, slaves were <br>
			being bartered, in what could have been just a few feet
			away.
		</p>

		<img src="{% static '/images/grand-bazaar2.jpg' %}"
			style="width: 660.1px; height: 440.75px;">
  </div>
    
	<div class="site-text2">
		<br><br>

		<img src="{% static '/images/grand-bazaar1.jpg' %}"
			style="width: 639.2px; height: 355.3px;">

		<p>
			Presently, the İstanbul Grand Bazaar remains the
			largest covered <br> market in the entire world.
			Every sunrise, in the span of ten hours	<br> from
			nine in the morning to seven in the evening,
			between 250 and <br> 400 thousand visitors on
			average will enter and exit the market.	<br> Twenty-
			six-thousand merchants will arrive and attempt to
			convince <br> every one they can to purchase their
			merchandise.
		</p>
		
		<img src="{% static '/images/nuruosmaniye-gate.jpg' %}"
			style="width: 643.5px; height: 483.75px;">

		<p>
			Accessible through four gates, one worth entering
			is the <br> "Nuruosmaniye Gate" which has a coat
			of arms-like depiction <br> cemented above the
			walkway. On April 17th, 1882, Sultan Abdul <br>
			Hamid II accepted what can be described as the
			"Coat of Arms of <br> The Ottoman Empire" by
			adjoining the flag of the Ottoman Dynasty <br>
			(crescent and a star on red base) and the flag of
			the Islamic <br> Caliph (three crescents on a green
			base). Too little to see, on <br> the actual coat
			of arms is writing in Arabic wishing victory for
			<br> Mahmud Khan son of Abdulhamid and most of all:
			The Ottoman State.
		</p>
	</div>
</body>
</html>

<!-- 53 -->