{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
	<div class="site-text1">
			<h1>Hermitage Museum</h1>
			<p>  Empress Catherine the Great inherited an abundant collection
			<br> of paintings from a Prussian merchant. Needing somewhere to
			<br> store the art work, she founded what today is known as the State
			<br> Hermitage Museum. In its early days, the museum only consisted
			<br> of the "Small Hermitage" building whereas presently the museum
			<br> includes the buildings of the "Old Hermitage", the "New Hermitage",
			<br> the "Hermitage Theatre", and lastly, the "Winter Palace".
			<br> 
			<br> Structural expansion lasted from 1840 to 1852 under Emporer Nicholas
			<br> I. Rather than just being a private art gallery for the royal family,
			<br> in 1852, the museum became the first museum open to the public in
			<br> Russia.
			<br>
			<br> During the 19th and 20th centuries the museum acquired exhibitions
			<br> from France, Italy, Egypt, and even added along Greek and Scythian
			<br> artifacts which were discovered within the Russian Empire.
			<br>
			<br> The gradual increase in collections resulted in the State Hermitage
			<br> museum earning the title as the museum holding the largest gallery
			<br> space in the world comprised of three million exhibits, 17 thousand
			<br> paintings, 600 thousand graphic works, 12 thousand sculptures, 700
			<br> thousand works of craft, and finally 700 thousand archeological and
			<br> one million numismatic discoveries.</p>

			<img src="{% static '/images/hermitage-interior.jpg' %}" 
					style="width: 632.82px; height: 426.12px;">
	</div>

	<div class="site-text2">
		<br>

		<img src="{% static '/images/winter-palace.jpg' %}" 
			style="width: 639.18px; height: 426.12px;">
		<p>
			The Winter Palace today houses part of the
			Hermitage Museum, <br> but from 1732 to 1917,
			the Winter Palace served as the official <br>
			residence of the Russian royal family. Despite
			this, the last <br> Tsar to in reality reside in
			the palace was Alexander II who	<br> had been
			assassinated in 1881. As a consequence, his successors
			<br> avoided living in the Winter Palace fearing
			for their own safety. <br><br> Forthwith the time
			of the 1917 October Revolution, the former <br>
			residence of the monarch were now part of the state
			which led <br> to the merging of the Imperial
			Hermitage and the Winter Palace. <br> With a new
			form of government, the private art collections
			<br> sitting in the private palaces and mansions
			of the former Russian <br> Tsars were nationalised
			and were sent to Soviet state museums. <br> As a
			result, the Hermitage saw the quantity of its
			exhibits <br> enlarge once again.
		</p>
	</div>
</body>
</html>

<!-- 59 -->