{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city.css' %}" type="text/css"/>
<style>
.container img {
        display: block;
}
</style>
</head>
<body>
    <div class="container">
        <img src="{% static '/images/mosque-on-bosporus.jpg' %}"
             style="width: 1559.52px; height: 1041.39px;"/>

        <div class="text-block">
            <h1 style="font-size: 2em; color: lightblue">İstanbul</h1>

            <br><u><b>Customs</b></u>
            <br>
            <li>Entry requires that you register a visa which comes with a one-time
                fifty-dollar fee. <br>&nbsp;&emsp; Visa approvals normally occur in 
                three business days or less.</li>
            <br>
            <li>Mosques are not open to the entire public during prayer sessions.
                Only worshippers <br> &nbsp;&emsp; can attend during this time.</li>
            <br>
            <li>Women who plan to go inside a mosque must cover their heads, and
                cannot wear <br>&nbsp;&emsp; short-length or loose-fitting clothing.</li>
            <br>
            <li>Both men and women are supposed to have their legs covered when inside 
                a mosque.</li>
            <br>
            <li>The mosques in İstanbul provide head coverings for women, leg coverings
                for all, and <br>&nbsp;&emsp; an area for storing your shoes before 
                going inside.</li>
            <br>
            <li>If you are young and all other seats on public transportation are filled
                up, vacate your <br> &nbsp;&emsp; seat for pregnant women, the elderly, 
                and disabled.</li>
            <br>
            <li>Turkish men will sometimes greet eachother by bumping their foreheads on
                the right <br> &nbsp;&emsp; side and then the left.</li>
            <br>
            <li>Men only shake hands, hug, or kiss unrelated women if the women have
                initiated <br> &nbsp;&emsp; these kinds of salutations first.</li>
            
            <br><u><b>Faux Pas</b></u>
            <br>
            <li>It is forbidden to enter a mosque with shoes, or any other kind of
                footwear on.</li>
            <br>
            <li>If you are in a mosque, do not walk too close to someone who is praying.
                Remember <br>&nbsp;&emsp; to use your inside voice.</li>
            <br>
            <li>Remove your shoes upon setting foot in someone's home. Some hosts may
                offer you <br> &nbsp;&emsp; indoor slippers.</li>
            <br>
            <li>Do not clap or cheer during a whirling dervish ceremony because it is
                not a performance.</li>
            <br>
            <li>Do not refer to Turkish people as "Arabs" because they are of a different
                ethnicity, <br> &nbsp;&emsp; and speak a different language than them.</li>
            
            <br>
            <u><b>Safety</b></u>
            <br>
            <li>Drivers do not always obey the rules of the road, so be observant when
                crossing streets.</li>
            <br>
            <li>Do not go to a bar, club, or restaurant with strangers. Some locals
                pretend to befriend <br> &nbsp;&emsp; tourists only for the purpose 
                of forcing them to pay for an inflated price.</li>
            <br>
            <li>In the case of a shoeshiners throwing their brush onto the street, never
                pick it up even <br> &nbsp;&emsp; if they ask you to. This is a dishonest
                trick that shoeshiners attempt on tourists.</li>
            <br>
            <li>Putting it in perspective, İstanbul has a lower level of crime than New York
                City, and <br> &nbsp;&emsp; ranks slightly better on the safety index.</li>
        </div>
    </div>
</body>
</html>

<!--58-->