{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city.css' %}" type="text/css"/>
<style>
.container img {
    display: block;
}
</style>
</head>
<body>
	<div class="container">
		<img
			src="{% static '/images/hagia-sophia-background-image.jpg' %}"
			style="width: 1464px; height: 974.4px;"/>

		<div class="text-block">
			<h1 style="font-size: 2em; color: orange">
				English Proficiency & Transportation
			</h1>
			
			<br>
			
			<u>
				<b>English Proficiency</b>
			</u>

			<li>
				Despite only approximately 12.5% of İstanbul
				residents being able to hold a basic <br> &nbsp;
				&emsp; conversation in English, over 14 million
				from abroad visit the city annually. <br> &nbsp;
				&emsp; Seeking assistance from staff while only
				speaking English is not rare at İstanbul's <br>
				&nbsp;&emsp; airports, hotels, and some restaurants.
			</li>

			<br>

			<li>
				Encountering locals who lack English language
				skills is common. <br> &nbsp;&emsp; The following
				are some phrases that will make it easier to communicate: 
				<br> &nbsp;&emsp;

				<a
					href="https://learnlanguagesfromhome.com/turkish-phrases-for-tourists/"
					target="_blank">
					Basic Turkish Vocabulary for Travelers
				</a>
			</li>

			<br>

			<li>
				Fortunately for Western visitors, Turks use a latin-based
				alphabet which they <br> &nbsp;&emsp; switched to 1928.
				A prime reason for the switch is due to the fact that the
				latin-based <br> &nbsp;&emsp; script is better suited for
				the Turkish language because it permits the usage of the
				<br> &nbsp;&emsp; eight long and short Turkish vowels. In
				contrast, the Arabic alphabet only consists of <br> &nbsp;
				&emsp; three long and short vowels, making it a poor choice.
				<br><br> &nbsp;&emsp; English speakers will have the
				capability of making out some Turkish street names, <br>
				&nbsp;&emsp; but can cause confusion when attempting to
				enunciate words containing the following <br> &nbsp;&emsp;
				as these letters do not exist in English: “ç,” “ı,” “ğ,” “ş,” 
				“ö,” and “ü.”.
			</li>
			
			<br>
			
			<u>
				<b>Transportation</b>
			</u>

			<br>

			<li>
				The most suitable method of getting around İstanbul,
				is by purchasing a rechargeable <br> &nbsp;&emsp;
				"Anonymous Istanbulkart" which costs about 72 US cents.
				This card will cover the all <br> &nbsp;&emsp; of the
				public transportation options in İstanbul except for
				shared taxis (Dolmuş). It is <br> &nbsp;&emsp; suggested
				that each passenger loads about $1.50 on their card
				since each trip usually <br> &nbsp;&emsp; costs 25 US
				cents on average.
			</li>

			<br>

			<li>
				The trams on the European side run from 6 a.m. to 11 p.m.
				while trams on the Asian <br> &nbsp;&emsp; side operate
				from 7 a.m. to 9 p.m.
			</li>

			<br>

			<li>
				If you wish to cross the Bosporus Strait by boat, a public
				ferry (vapur) is available <br> &nbsp;&emsp; every twenty
				minutes until 11 p.m. This is not a recommended way to
				sightsee the <br> &nbsp;&emsp; Bosporus because of the
				large crowds of locals. A gratifying way to intake the <br>
				&nbsp;&emsp; immensity of this city that sits at the
				crossroads of East and West is by using the <br> &nbsp;
				&emsp; Bosporus Cruise tour costing only 70 US cents per 
				adult.
			</li>

			<br>

			<li>
				A shared taxi or minibus where each passenger pays only
				a portion of the normal fee <br> &nbsp;&emsp; is called
				a "Dolmuş", but it only departs when all or nearly all
				the seats are occupied.
				<br><br> &nbsp;&emsp;
				Payments are made in cash to the driver. These minibuses
				can be sought at their <br> &nbsp;&emsp; departure points
				for a certain route. You are supposed to pay the same
				amount as <br> &nbsp;&emsp; what other passengers are
				paying (typically $1-$1.7).
			</li>

			<br>

			<li>
				All official taxis in İstanbul will have digital meters.
				Avoid commuting with taxis that <br> &nbsp;&emsp; do not
				turn on their meter.
			</li>
		</div>
	</div>
</body>
</html>

<!-- 69 -->