{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
		href="{% static 'styles/city-details.css' %}"
		type="text/css"/>
</head>
<body>
	<div class="site-text1">
		<h1>Plaza de Mayo</h1>

		<p>
			Being the oldest public square in Buenos Aires,
			Plaza de Mayo is <br> sacred to the city's native
			residents. The square has experienced <br>
			important events throughout history. From the
			second founding of <br> the city in 1580 through
			the revolution of independence in 1810, <br> also
			known as the May Revolution of Buenos Aires, the
			plaza has <br> seen both vehement protest or jubilant
			celebration. Argentina's <br> first political rally
			was held here in 1890. Plaza de Mayo <br> represents
			the scars and advancements of Argentina's history.
		</p>

		<img src="{% static '/images/plaza-de-mayo.jpg' %}" 
			style="width: 642.59685px; height: 432.59685px;">
	</div>

	<div class="site-text2">
		<img
			src="{% static '/images/metropolitan-cathedral-buenos-aires.jpg' %}" 
			style="width: 627px; height: 418px;">

		<p>
			Initially, the plaza was known as Plaza De Victoria,
			and was built <br> in 1580 during the founding of
			Buenos Aires by Juan de Garay. <br> Upon, independence,
			the name later changed to "Plaza de Mayo" <br> to
			commemorate the 1810 May revolution where Argentina
			successfully <br> achieved independence from Spanish
			colonialism. Every Thursday <br> afternoon, Plaza de
			Mayo is the focal point for a group known as <br> the
			"Madres de la Plaza de Mayo" (Mothers of the Plaza de
			Mayo) <br> assemble to hold pictures of their children
			who disappeared during <br> the military dictatorship
			that ruled Argentina from 1976 to 1983. <br> Nearby,
			the Metropolitan Cathedral of Buenos Aires can be
			visited.
		</p>
	</div>
</body>
</html>

<!-- 38 -->