{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
    <div class="site-text3">
        <h1>Recoleta Cemetery</h1>

        <p>  "It is cheaper to live a whole life of luxury than to be buried at
        <br> the Recoleta." This saying is rooted in the fact that the elite of 
        <br> Buenos Aires have honoured the deceased with lavish sculptures inside
        <br> the "Cementerio de la Recoleta". Many of Argentina's famous polticians,
        <br> celebrities, and nobel prize winners. Arguably the most prominent figure
        <br> buried here is former first lady Eva Perón who passed away in 1952, but
        <br> wasn't moved to the Recoleta Cemetery until 1976 due to political turmoil.
        <br> A two hour tour is available for ten US dollars per person, but does not
        <br> include the entrance ticket which is an additional fee. The cemetery has
        <br> been regarded as one of the world's best cemeteries by BBC because of its
        <br> marble mausoleums, city-like walkways, and neo-gothic architectural style.</p>
        <img src="{% static '/images/recoleta-cemetery2.png' %}" 
            style="width: 700px; height: 364px;">
    </div>

    <div class="site-text4">
        <img src="{% static '/images/recoleta-cemetery1.png' %}" 
            style="width: 585px; height: 390px;">
        <p>  Fourteen acres occupied by over 6,400 coffins, statues,
        <br> sarcophagi, and crypts acknowledge the men and women who
        <br> contributed to Argentine society. French civil engineer
        <br> Próspero Catelin designed the cemetery which then became
        <br> his final resting place. In 1822, the cemetery opened and
        <br> was established as the first public cemetery in Buenos Aires.
        <br> The land which the cemetery has been built upon had belonged
        <br> to Franciscan Recollect monks which explains how the cemetery
        <br> was given its name. The most popular sites at the cemetery
        <br> are the resting places of Eva Perón and former Argentine
        <br> presidents Domingo Faustino Sarmiento and Raúl Alfonsín.</p>
    </div>
</body>
</html>

<!--40-->