{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'styles/city.css' %}" type="text/css" />
    <style>
        .container img {
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="{% static '/images/saint-isaac-cathedral-moyka-river.jpg' %}"
            style="width: 1391.6px; height: 994.7px;" />

        <div class="text-block">
            <h1 style="font-size: 2em; color: lightblue">Saint Petersburg</h1>

            <br>
            <u><b>Customs</b></u>
            <br>
            <li>Before making arrangements to visit, you must not only obtain a visa,
                but <br> &nbsp;&emsp; must register it when you have arrived in Saint
                Petersburg.</li>
            <br>
            <li>In Saint Petersburg, tourists will pay a higher entrance fee to get
                into many <br> &nbsp;&emsp; of the city's attractions while locals
                will pay a lower entrance fee.</li>
            <br>
            <li>ATMs are omnipresent throughout Saint Petersburg, and most establishments
                <br> &nbsp;&emsp; accept card as a form of payment. Inform your bank that
                you will be abroad.
            </li>
            <br>
            <li>Similar to Buenos Aires, you must give up your train, bus, or metro seat
                to the <br> &nbsp;&emsp; elderly, pregnant women, and handicapped passengers
                if there are none.</li>
            <br>
            <li>When meeting male strangers, it is common to give a firm handshake with <br>
                &nbsp;&emsp; direct eye contact. Avoid a firm shake when meeting women.</li>
            <br>
            <li>Upon an invitation into someone's home, men are expected to bring flowers.</li>
            <br>
            <li>When drinking alcoholic beverages of any type, place empty bottles on the
                <br> &nbsp;&emsp; floor as this superstition holds importance amongst some
                Russians.
            </li>

            <br>
            <u><b>Faux Pas</b></u>
            <br>
            <li>As mentioned before, some Russians are superstitious.
                Avoid shaking <br> &nbsp;&emsp; hands over door thresholds, and do
                not give flowers in even numbers.</li>
            <br>
            <li>Never wear shoes inside someone's home as Russians usually wear
                <br> &nbsp;&emsp; indoor slippers when inside.
            </li>
            <br>
            <li>Do not enter a Russian Orthodox Church without covering your head if <br>
                &nbsp;&emsp; you are a woman. Men must remove their hats upon entering.</li>
            <br>
            <li>Last, but certainly not least, topics involving international politics
                <br> &nbsp;&emsp; pertaining to Russia should be kept away from. When
                asking questions <br> &nbsp;&emsp; about the country, do so without
                revealing your opinion or being <br> &nbsp;&emsp; argumentative.
            </li>

            <br>
            <u><b>Safety</b></u>
            <br>
            <li>Saint Petersburg ranks nearly the same as Bergen, Norway and Berlin, <br>
                &nbsp;&emsp; Germany in terms of crime and safety index scores meaning that
                it is <br> &nbsp;&emsp; just as safe as the average European city.</li>
            <br>
            <li>Like almost any large city, be alert when in a crowded area as pickpockets
                do <br> &nbsp;&emsp; occur in Saint Petersburg. Children are sometimes used
                to perform thefts, so <br> &nbsp;&emsp; even if an innocent looking child
                comes close to you, be observant of your <br> &nbsp;&emsp; surroundings.</li>
            <br>
            <li>Do not get intoxicated with individuals who you don't know.</li>
        </div>
    </div>
</body>

</html>

<!--55-->