{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/history-timeline.css' %}" type="text/css"/>
</head>
<body>
    <div class="timeline">

        <div class="container left">
            <div class="content">
                <h2>Founding of Saint Petersburg <i>May 12, 1703</i></h2>
                <p>Initially what today is known as Saint Petersburg, was first settled
                   in 1611 by Swedish pioneers who had built a fortress called Nyenskans 
                   located at the mouth of the Neva River. Surrounding Nyenskans, a
                   settlement called "Nyen" began flourishing. Russian monarch or "Tsar"
                   Peter the Great developed an interest in adding a seaport, so that
                   Russia could trade more efficiently with the rest of Europe. Russia's 
                   main seaport at the end of the 17th century was Arkhangelsk.
                   Arkhangelsk was geographically far from the rest of Europe and was
                   inaccessible during the ice-covered winters. On May 12, 1703, during
                   the Great Northern War, Peter the Great captured the Nyenskans fortress
                   from the Swedes and named the city "Saint Petersburg" in an attempt to
                   westernise Russia.
                </p>
            </div>
        </div>
        <div class="img-right1">
            <img src="{% static '/images/peterhof-palace.jpg' %}" style="width: 502.8px;
                                                                         height: 336px;">
            <figcaption><b>The Peterhof palace commissioned by Peter the Great
                in 1709 as <br> an inspiration from the Palace of Versailles in 
                France.</b></figcaption>
        </div>

        <br>
        <div class="container right">
            <div class="content">
                <h2>Smolny Institute of Noble Maidens <i>18th Century</i></h2>
                <p>Peter the Great declared Saint Petersburg as the Capital of Russia
                   in 1712 which it would remain until 1918. Being one of Russia's
                   most progressive cities, the Institute for Noble Maidens was
                   established in 1764 where girls of noble birth would be granted
                   an education under Catherine the Great. The significance of this 
                   can be understood by explaining that this was the first public 
                   educational institution for women in not just Russia, but in all
                   of Europe. It formed the bedrock for female education in Russia.</p>
            </div>
        </div>
        
        <div class="img-left1">
            <br><br><br>
            <img src="{% static '/images/smolny-institute-of-noble-maidens.jpg' %}" 
                 style="width: 481px; height: 364px;">
            <figcaption>
                <b>Smolny Institute of Noble Maidens During Russia's Monarchy 
                    <br> Era.</b></figcaption>
        </div>

        <br><br><br><br>
        <div class="container left">
            <div class="content">
                <h2>Emancipation of Serfs <i>1861</i></h2>
                    <p>In 1861, Tsar Alexander II abolished serfdom throughout the entire
                    Russian Empire. In the coming years, Saint Petersburg would see
                    an influx of former peasants who had previously lived in rural areas.
                    Slums developed on the outskirts of the city. By then the industrial
                    revolution had been well under way, and Saint Petersburg saw its
                    population exceed that of Moscow. It became one of the largest
                    industrial cities in Europe.</p>
            </div>
        </div>
        <div class="img-right2">
            <br><br><br><br><br>
            <img src="{% static '/images/sennaya-ploshchad.jpg' %}"
               style="width: 504px; height: 336px;">
            <figcaption>
                <b>The Sennaya Square and the Saviour Church in Saint Petersburg 
                    <br> in the 1840s.</b>
            </figcaption>
        </div>

        <br><br><br><br><br>
        <div class="container right">
            <div class="content">
                <h2>Political Revolution <i>Early 20th Century</i></h2>
                    <p>Mass political and social unrest beginning in Saint Petersburg around 
                    January 22nd 1905 led to what is now referred to as the Russian Revolution
                    of 1905 where workers, peasants, and military mutineers directed their 
                    anger at Tsar Nicholas II as well as the Russian noble ruling class. In 
                    response, Tsar Nicholas II executed the "October Manifesto" which reformed
                    Russia from having an absolute monarchy to a semi-constitutional monarchy 
                    by 1906.
                    <br>
                    The reforms failed to prevent or solve many of the economic issues facing
                    Russian workers: overcrowded unsanitary housing, eleven-hour workdays six
                    days a week, and poverty wages. Only 20% of rural peasants owned their own
                    land while 1.5% of the population owned a staggering 25% of Russia's land.
                    To receive land that they had been working on, peasants were still required
                    to make redemption payments to the monarchy until 1907.
                    <br>
                    Similar to the 1905 revolution, the first revolt of the Russian Revolution
                    sprung up in Saint Petersburg in February of 1917. Only this time, the
                    revolutionaires known as the "Bolsheviks" would successfully overthrow the
                    rule of Tsar Nicholas II as well as the provisional government that followed
                    later on in October 1917.
                    <br>
                    As an outcome of the October Revolution of 1917, the Bolshevik government
                    moved the capital of Russia to Moscow which it has remained ever since.
                    Throughout that pivotal time, the country experienced extraordinary instability
                    from civil war to economic catastrophe and famine.</p>
            </div>
        </div>
        <div class="img-lenin">
            <img src="{% static '/images/lenin-petrograd.jpg' %}" 
                style="width: 512.2px; height: 288.6px;">
            <figcaption>
                <b>Bolshevik Revolutionary leader Vladimir Lenin addressing
                   <br> supporters on April 16, 1917, in Saint Petersburg
                   after coming <br> out of 17 years of exile in Europe.
                </b>
            </figcaption>
            <br>
            <img src="{% static '/images/nevsky-prospekt.jpg' %}"
                style="width: 511.5px; height: 333px;">
            <figcaption>
                <b>Nevsky Prospekt (street) in Petrograd (Saint Petersburg today) 
                   <br> moments after soldiers of the Provisional Government
                   had opened <br> fire with machine guns on July 17th, 1917.
                </b>
            </figcaption>
        </div>

        <br><br><br><br><br><br><br>
        <div class="container left">
            <div class="content">
                <h2>Name of the City</h2>
                    <p>Originally the city was known as "Saint Petersburg" from
                    1703 until 1914 when it was changed to "Petrograd" as a reaction
                    by the Tsarist government to the war with Germany during World War One.
                    <br>
                    When the leader of the Russian Revolution Vladimir Lenin passed away in 
                    1924, the city's name was changed again from "Petrograd" (city of Peter)
                    to "Leningrad" (city of Lenin) to honour the deceased leader.
                    <br>
                    Seventy-seventy seven years later, as the USSR began to fall apart,
                    the city's name returned to its traditional "Saint Petersburg" in
                    1991 and has kept that name since then.</p>
            </div>
        </div>
        <div class="img-fontanka">
            <img src="{% static '/images/fontanka-saint-petersburg.jpg' %}" 
                style="width: 516.15px; height: 344.1px;">
            <figcaption>
                <center>
                    <b>Neva River In Saint Petersburg</b>
                </center>
            </figcaption>
        </div>
        <br><br>
    </div>
</body>
</html>

<!--158-->