{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
    <div class="site-text1">
        <h1>Sultanahmet Mosque</h1>

        <img src="{% static '/images/sultanahmet-mosque.jpg' %}" 
            style="width: 635.39px; height: 424.27px;">
        <p>  Frequently referred to as the "Blue Mosque", the Sultanahmet
        <br> Mosque, received its name from its greatest comissioner: Sultan
        <br> Ahmet I. It was ordered to be built in 1609, during the time
        <br> that the Ottomans were enduring a crushing loss in their war 
        <br> with Persia. Historians see this as a decision motivated by
        <br> reaffirming Ottoman influence. 
        <br>
        <br> Built on what once was a palace for Byzantine Emporers, the mosque
        <br> faces the Hagia Sophia, a structure constructed during Byzantine 
        <br> rule. Gazing upon the Sultanahmet mosque, it may be hard to believe
        <br> that its completion took only seven years from 1609-1616. Presently,
        <br> the land that the mosque sits on what is known as the Sultanahmet 
        <br> Square.</p>
    </div>
    
    <div class="site-text2">
        <br><br>
        <p>  The mosque is composed of two different architectural styles:
        <br> traditional Islamic architecture and Byzantine architecture.
        <br> Venturing into the mosque, one can spot twenty-thousand Iznik
        <br> tiles consisting of sixty distinct tulip patterns absorbing
        <br> the sunlight through the 260 stained glass windows. Six minarets
        <br> tower the city of İstanbul at a noticeable 210 feet. Each minaret
        <br> contains two or three balconies where a man called the "muezzin"
        <br> makes the Islamic call to prayer five times every day.
        <br> 
        <br> The roof of the Sultanahmet mosque is made up of one central dome
        <br> positioned 141 feet above ground, bordered by four other domes, as 
        <br> well as eight lower-level domes.</p>
        <img src="{% static '/images/sultanahmet-mosque-interior.jpg' %}" 
            style="width: 632.8px; height: 422.8px;">
    </div>
</body>
</html>

<!--44-->