{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/city-details.css' %}" type="text/css"/>
</head>
<body>
    <div class="site-text3">
        <h1>Topkapı Palace</h1>

        <p>  The Topkapı Palace is a museum today, but at one point it served as
        <br> the primary residence for Ottoman sultans (monarchs of the former
        <br> Ottoman Empire). Six years after the Ottomans conquered the city of
        <br> Constantinople, Sultan Mehmet II ordered the construction of the
        <br> palace in 1459. He would reside here until his final days in 1481.
        <br> From then on, the Topkapı Palace would house twenty-five Sultans until
        <br> the mid-19th century. The Sultan would have multiple concubines or 
        <br> women he would sleep with who were of lower status than his multiple
        <br> wives. These concubines would stay in the harem along with the wives
        <br> of the Sultan. Men not related to the Sultan were forbidden from
        <br> entering the harem unless they were eunuchs (castrated men employed
        <br> to guard women's living quarters).
        <br>
        <br> For six-hundred years, thirty Ottoman Sultans would make critical
        <br> decisions with input coming from their Grand Vizier (highest ranking
        <br> minister) and other council members. Meetings between the council
        <br> and the Sultan were initially held in the Imperial Court inside the
        <br> Topkapı Palace, but the newly established Dolmabahçe Palace became
        <br> the meeting location for these council meetings in mid-19th century
        <br> at the request of Sultan Abdülmecid I.</p>
        <img src="{% static '/images/gate-of-felicity.jpg' %}" 
            style="width: 637.2px; height: 432px;">
    </div>

    <div class="site-text4">
        <br>
        <img src="{% static '/images/harem.jpg' %}" style="width: 624px; height: 416px;">
        <p>  In its heyday, the Topkapı was a city-palace with a population of
        <br> about 4,000 residents, covering an area of 70 hectares or 173
        <br> acres. As a consequence of conquering the land from the Byzantine
        <br> Empire, much was inherited, including the Church of Hagia Eirene.
        <br> Located  in the first courtyard, the Ottomans transformed this
        <br> church into an armory.
        <br> 
        <br> The second courtyard referred to as "Divan Meydanı" in Turkish, 
        <br> acted as the seat of the Divan (Imperial Council). Only those who 
        <br> needed to contact the Imperial Council for business affairs were 
        <br> permitted inside. If the walls around this courtyard could speak,
        <br> they could narrate a lengthy passage of all the administrative and
        <br> political resolutions which fundamentally altered the course of 
        <br> world history.
        <br>
        <br> Possessing the highest concentraton of Ottoman art, jewels, and
        <br> antiques, the Imperial Treasury is a quarter that mustn't be
        <br> left out when visiting. An iron coat worn by Sultan Mustafa III,
        <br> the Topkapı Dagger, and two enormous solid gold candleholders, 
        <br> each weighing 105 lbs with 6,666 mounted cut diamonds, can be
        <br> seen scattered across multiple exhibits.</p>
    </div>
</body>
</html>

<!--59-->
