{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
<!--Loading "crispy_forms_tags" allowed me to use the crispy filter on any of the forms.-->

<!--The form for resetting the profile password is included in this template.-->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <!--Give the form a legend of "Reset Password".-->
                <legend class="border-bottom mb-4">Reset Password</legend>

                <!--Print out the entire form.-->  
                {{ form|crispy }}                
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}

<!--18-->