/* This CSS file sets the style to the pages
   for each individual city.
   
   The following is an example where the
   styling in this file is being used:
   http://198.74.49.223/display-cities/1/
*/

/* The following line will make sure that
   the black background and image align
   vertically. */
* {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}

.container {
  position: relative;
}

.container .content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);

	/* Fallback color */
	background: rgba(0, 0, 0, 0.5);

	/* Black background with 0.5 opacity. */
	color: #f1f1f1;

	width: 350px;
	height: 100%;
	padding: 20px;
}

.text-block {
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding: 20px;
}

u {
  font-size: 20px;
}

li {
  color: #FFFFFF;
}

a.videos:link {
	color: lightblue;
	text-decoration: underline;
	font-size: 20px;
}

a.videos:visited {
	color: lightblue;
	text-decoration: underline;
}

a.videos:hover {
	color: lightblue;
	text-decoration: underline;
	font-style: italic;
}

a.videos:active {
	color: lightblue;
	text-decoration: underline;
}

/* Unvisited link. */
a:link {
	color: lightblue;
	text-decoration: underline;
	font-family: Courier, monospace;
}

/* The link after it has been clicked. */
a:visited {
	color: lightblue;
	text-decoration: underline;
}

/* When the linked is hovered over. */
a:hover {
	color: lightblue;
	text-decoration: underline;
	font-style: italic;
}

/* When the link is clicked, but not released. */
a:active {
	color: lightblue;
	text-decoration: underline;
}

/* 79 */